@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    The Student Advisement System was created by PrimeTech Experts for use by the Academic/Student 
    Advisors and Receptionists at Sheridan College. <br />
    The system is split up into different modules to allow users to an easy-to-use system that is 
    both intuitive to use and provides value to the user.  <br />
    
    <ul>
    Below is a short summary of each screen.
        <li>Home - Provides a quick view of all upcoming appointments for the logged in user</li>
        <li>Students - Allow the user to Search, Create, Modify and View a Student in the system</li>
        <li>Issues - </li>
        <li>Appointments - </li>
        <li>Time Blocks - </li>
        <li>Reports - </li>
        <li>About - </li>
    </ul>
</p>

<b>PrimeTech Experts</b>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Position
        </th>
        <th>
            Email
        </th>
    </tr>
    <tr>
        <td>
            Eric Park
        </td>
        <td>
            Project Manager, Developer and Overall Support: 
        </td>
        <td>
            pareric@sheridanc.on.ca
        </td>
    </tr>
    <tr>
        <td>
            Lucas Lomnicki
        </td>
        <td>
            Back-end Developer and Database Manager:
        </td>
        <td>
            lomnicki@sheridanc.on.ca
        </td>
    </tr>
    <tr>
        <td>
            Justin Abeto
        </td>
        <td>
            Front-end Developer and UI Design:
        </td>
        <td>
            abeto@sheridanc.on.ca
        </td>
    </tr>
</table>
