@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    The Student Advisement System was created by PrimeTech Experts© for use by the Academic/Student 
    Advisors and Receptionists at Sheridan College. <br />
    The system is split up into different modules to allow users to an easy-to-use system that is 
    both intuitive to use and provides value to the user.  
</p>
<ul>
    Below is a short summary of each screen.
    <li><b>Home</b> - Provides a quick view of all upcoming appointments for the logged in user</li>
    <li><b>Students</b> - Allow the user to Search, Create, Modify and View a Student in the system</li>
    <li><b>Issues</b> - Allow the user to Search, Create, Modify and View an Issue in the system</li>
    <li><b>Appointments</b> - Allow the user to Search, Create, Modify and View Appointments in the system</li>
    <li><b>Time Blocks</b> - Allow the user to Search, Create, Modify and View Time Blocks in the system</li>
    <li><b>Reports</b> - Allow the user to Generate and View Reports in the system</li>
    <li><b>About</b> - Displays information about the system and the creators</li>
</ul>
<br />
<b>PrimeTech Experts</b>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Position
        </th>
        <th>
            Email
        </th>
    </tr>
    <tr>
        <td>
            Eric Park
        </td>
        <td>
            Project Manager, Developer and Overall Support: 
        </td>
        <td>
            <a href="mailto:pareric@sheridanc.on.ca?subject=Student Advisement System">pareric@sheridanc.on.ca</a>
        </td>
    </tr>
    <tr>
        <td>
            Lucas Lomnicki
        </td>
        <td>
            Lead Developer and Database Manager:
        </td>
        <td>
            <a href="mailto:lomnicki@sheridanc.on.ca?subject=Student Advisement System">lomnicki@sheridanc.on.ca</a>
        </td>
    </tr>
    <tr>
        <td>
            Justin Abeto
        </td>
        <td>
            Developer and UI Design:
        </td>
        <td>
            <a href="mailto:abeto@sheridanc.on.ca?subject=Student Advisement System">abeto@sheridanc.on.ca</a>
        </td>
    </tr>
</table>
