body {
}
table
{
    width: 800px;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

th
{
    background-color:#2C3D5A;
    color:white;
    border-collapse:collapse;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
}

.resultsstudent
{
    border-collapse:collapse;
    border-style:solid;
    border-width:1px;
    width: 1180px;
    margin-bottom: 40px;
    
}

.resultsissue
{
    border-collapse:collapse;
    border-style:solid;
    border-width:1px;
    width: 740px;
    margin-bottom: 40px;
}

.resultstd
{
    border-collapse:collapse;
    border-style:solid;
    border-width:1px;
}


